.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 3px solid rgb(0, 87, 109);
  }
  button {
    background-color: rgb(30, 190, 164);
    color: white;
  }
}
